.artigo {
    align-content: center;
    flex-direction: column;
    display: flex;
    padding-left: 10px;
}

.emprego2 {
    align-content: center;
    flex-direction: column;
    display: flex;
    padding-left: 10px;
    margin-top: 30px;
}

.foto_Douglas {
   align-content: center; 
   display: flex;
   width: 140px;
   border: 3px solid #ef4226;
   border-radius: 50%;
   margin: auto;
   margin-top: 10px;
   display: flex;
}
.topo {
    align-content: center;
    flex-direction: column;
    display: flex;
    background: rgb(59,70,81);
    border: 1px solid #ef4226;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.secao {
    align-content: center;
    flex-direction: column;
    display: flex;
    background: rgb(59, 70, 81);
    border: 1px solid #ef4226;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

body{
    flex-direction: column;
    display: flex;
    margin: 0;
    background: rgb(21, 22, 27);
    color: rgb(250, 250, 250);
    font-family: 'OpenSans',Arial,sans-serif;
    align-content: center;
}

.principal {
    align-content: center;
    flex-direction: column;
    display: flex;
    margin: auto;
    max-width: 1100px;
}
.formulario {
    align-content: center;
    flex-direction: column;
    display: flex;
    background-color: rgb(29, 30, 37);
    margin-top: 30px;
    border-top: 1px solid black;
    padding-bottom: 20px;
    
}
.end {
    align-content: center;
    text-align: left;
    flex-direction: column;
    display: flex;
    margin-left: 10px;
}

#title, .subtitle {
    color: rgb(250, 250, 250);
    padding-left: 10px;
    padding-top: 10px;
    margin: 1px;
    padding-left: 10px;
}
#title {
    padding-bottom: 10px;
}
a {
    color: rgb(250, 250, 250); 
}
ul{
    list-style-type: none;
    padding-left: 10px;
    margin-top: 5px;
}
p {
margin: 5px;
}

.nome, .email {
    margin-bottom: 4px;
    width: 150px;
    max-width: 150px;
}
.arquivo {
    margin-bottom: 4px;
}
.comentario {
    max-width: 1200px;
    width: 400px;
    word-wrap: break-word;
    max-height: 250px;
    height: 120px;
    
}
